{% extends "layout.html" %}
{% block content %}

<div class="container">
    <form action="/add" method="POST">

        <div class="row">
            <div class="input-field col s12 m8">
                <input type="text" name="shopName" id="shopName" class="autocomplete">
                <label for="shopName">店舗名</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="mName" id="mName">
                <label for="mName">筐体名</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="suddenValue" id="suddenValue">
                <label for="suddenValue">SUDDEN+ </label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="hiddenValue" id="hiddenValue">
                <label for="hiddenValue">LIFT/HIDDEN+</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="greenValue" id="greenValue">
                <label for="greenValue">緑数字</label>
            </div>
            <div class="range-field col s12 m8">
                <label for="slider">判定位置</label>
                <input type="range" name="adjustment" min="-2.0" max="2.0" step="0.05" id="slider">
            </div>
            <div class="input-field col s12 m4">
                <input disabled type="text" id="sliderValue" placeholder="0">
            </div>

            <hr>

            <div class="input-field col s12 m4">
                <input type="text" name="springWeight" id="springWeight">
                <label for="springWeight">バネ</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="buttonWeight" id="buttonWeight">
                <label for="buttonWeight">ボタン</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="like">
                    <option value="1">&#128522; 好き</option>
                    <option value="2">&#128528; 普通</option>
                    <option value="3">&#128532; 嫌い</option>
                </select>
                <label>好み</label>
            </div>
            
            <div class="input-field col s12">
                <textarea name="impression" id="impression">
                <label for="impression">メモ</label>
            </div>
        </div>
        <button type="submit" class="btn">登録</button>
    </form>
</div>
<script>
    window.onload = () => {
        M.AutoInit();
        var elems = document.querySelectorAll("input[type=range]");
        M.Range.init(elems);
        $(document).on('input', '#slider', () => {
            $('#sliderValue').val($('#slider').val());
        });
        $(document).ready(() => {
            let j = {{json|tojson}}
            $('input.autocomplete').autocomplete({
                data: {
                    {% for shopname in json.keys() %}
                        '{{shopname}}': null,
                    {% endfor %}
                },
                onAutocomplete: (txt) => {
                    if($('#mName').val() in j[txt]){
                        $('#suddenValue').val(j[txt][$('#mName').val()]['sudden']);
                        $('#hiddenValue').val(j[txt][$('#mName').val()]['hidden']);
                        $('#greenValue').val(j[txt][$('#mName').val()]['green']);
                        $('#slider').val(j[txt][$('#mName').val()]['adjust']);
                        $('#sliderValue').val(j[txt][$('#mName').val()]['adjust']);
                        M.updateTextFields();
                    }
                },
                limit: 10,
            });

            $('#mName').change(() => {
                let ival = $('input.autocomplete').val()
                if(ival in j && $('#mName').val() in j[ival]){
                    $('#suddenValue').val(j[ival][$('#mName').val()]['sudden']);
                    $('#hiddenValue').val(j[ival][$('#mName').val()]['hidden']);
                    $('#greenValue').val(j[ival][$('#mName').val()]['green']);
                    $('#slider').val(j[ival][$('#mName').val()]['adjust']);
                    $('#sliderValue').val(j[ival][$('#mName').val()]['adjust']);
                    M.updateTextFields();
                }
            });
        });
    };
</script>
{% endblock %}