{% extends "layout.html" %}
{% block content %}

<div class="container">
    <form action="/add" method="POST">

        <div class="row">
            <div class="input-field disabled col s12 m8">
                <input type="text" id="shopName" value="{{shopName}}">
                <label for="shopName">店舗名</label>
                <input type="hidden" name="shopName" value="{{shopName}}">
                
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="mName" id="mName" value="{{machineName}}">
                <label for="mName">筐体名</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="suddenValue" id="suddenValue" value="{{option['sudden']}}">
                <label for="suddenValue">SUDDEN+</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="hiddenValue" id="hiddenValue" value="{{option['hidden']}}">
                <label for="hiddenValue">LIFT/HIDDEN+</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="greenValue" id="greenValue" value="{{option['green']}}">
                <label for="greenValue">緑数字</label>
            </div>
            <div class="range-field col s12 m8">
                <label for="slider">判定位置</label>
                <input type="range" name="adjustment" min="-2.0" max="2.0" step="0.05" id="slider" value="{{option['adjust']}}">
            </div>
            <div class="input-field col s12 m4">
                <input disabled type="text" id="sliderValue" placeholder="0">
            </div>
            
            <hr>

            <div class="input-field col s12 m4">
                <input type="text" name="springWeight" id="springWeight">
                <label for="springWeight">バネ</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" name="buttonWeight" id="buttonWeight">
                <label for="buttonWeight">ボタン</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="like">
                    <option value="1">&#128522; 好き</option>
                    <option value="2">&#128528; 普通</option>
                    <option value="3">&#128532; 嫌い</option>
                </select>
                <label>好み</label>
            </div>
            
            <div class="input-field col s12">
                <textarea name="impression" id="impression">
                <label for="impression">メモ</label>
            </div>
            
            <input type="hidden" name="mName_before" value="{{machineName}}">
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
<script>
    window.onload = () => {
        M.AutoInit();
        var elems = document.querySelectorAll("input[type=range]");
        M.Range.init(elems);
        $('#sliderValue').val($('#slider').val());
        $(document).on('input', '#slider', () => {
            $('#sliderValue').val($('#slider').val());
        });
    };
</script>
{% endblock %}