<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/app.css" />
    <link rel="stylesheet" href="../static/tools/style/reset.css" />
    <title>Brasil</title>
  </head>

  <body>
    <div class="l__wrap">
      <div class="l__main">
        <header class="l__header"></header>
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
