{% extends "layout.html" %}
{% block content %}

<div class="container">
    <ul class="collapsible">
    {% for shopname, val in json.items() %}
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>{{shopname}}</div>
            <div class="collapsible-body">
            {% for mname, options in val.items() %}
                <div class="card-panel">
                    
                    <table class="striped">
                    <tr>
                        <th colspan="2" class="center-align">{{mname}}</th>
                    </tr>
                    <tr>
                        <th>緑数字</th><td>{{options['green']}}</td>
                    </tr>
                    <tr>
                        <th>SUD+</th><td>{{options['sudden']}}</td>
                    </tr>
                    <tr>
                        <th>LIFT/HID+</th><td>{{options['hidden']}}</td>
                    </tr>
                    <tr>
                        <th>判定位置</th><td>{{options['adjust']}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="right-align">
                            <a href="/editData?sn={{shopname}}&mn={{mname}}" class="btn-small white black-text">編集</a>
                            <a href="/delete?sn={{shopname}}&mn={{mname}}" class="btn-small white black-text deletebtn">削除</a>
                        </td>
                    </tr>
                </table>
                </div>
                
            {% endfor %}
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();

        $('.deletebtn').click(()=>{
            if(!confirm('削除してもよろしいですか？')){
                return false;
            }
        })
    });
</script>
{% endblock %}